{% extends 'baseadmin.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/main.css') }}">
{% endblock %}
{% block pageID %}contestlist{% endblock %}

{% block body %}
<!-- <a href="{{ url('app_backoffice_contest_new') }}">Nouveau concours</a>
 -->
 <table>
    <thead>
        <tr>
            <th>Nom</th>
            <th>Description</th>
            <th>Prix</th>
            <th>Activé</th>
            <th>Date de début</th>
            <th>Date de fin</th>
            <th>Modifier</th>
            <th>Supprimer</th>
        </tr>
    </thead>
    <tbody>
    {% for contest in contests %}
        <tr>
            <td>{{ contest.title }}</td>
            <td>{{ contest.content }}</td>
            <td>{{ contest.prize }}</td>
            <td>{{ contest.disabled ? 'Fermé' : 'Ouvert' }}</td>
            <td>{{ contest.dateStart|date('Y/m/d') }}</td>
            <td>{{ contest.dateEnd|date('Y/m/d') }}</td>
            <td><a href="{{ url('app_backoffice_contest_edit', {'contest': contest.id}) }}">Modifier</a></td>
            <td><a href="{{ url('app_backoffice_contest_delete', {'contest': contest.id}) }}">Supprimer</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
