{% extends 'base.html.twig' %}

{% block title %}Concours Photos{% endblock %}

{% block pageID %}home{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/main.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/owl.carousel.css') }}">
{% endblock %}

{% block fonts %}
    <link href="https://fonts.googleapis.com/css?family=Oswald:700|Roboto" rel="stylesheet">
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/owl.carousel.js') }}"></script>
    <script src="{{ asset('assets/js/home.js') }}"></script>
{% endblock %}

{% block body %}
  <!-- <header>
        <h1>Pardon Maman</h1>
        <div>
            <h2>Concours photo</h2>
            <p>Partagez une photo de votre tatouage jusqu'au 19/11/2016 et votez pour vos contestants préférés pour gagner <i>cras gravida, diam sit amet rhoncus</i></p>
            <a href="/app_dev.php/admin/contest">goooooooo</a>
        </div>
    </header>
    <nav>
        <ul>
            <li>Gallerie</li>
            <li>Participer</li>
            <li>Icon 1</li>
            <li>Icon 2</li>
        </ul>
    </nav> -->
    <main>
      <section id="prizes">
      <h3 class="dividTitle"><span>Les lots à gagner</span></h3>
      <article>
        <p>Pellentesque vel dui sed orci faucibus iaculis. Suspendisse dictum magna id purus tincidunt rutrum. Nulla congue. Vivamus sit amet lorem posuere dui vulputate ornare. Phasellus mattis sollicitudin ligula.</p>
        <p>Duis dignissim felis et urna. Integer adipiscing congue metus. Nam pede. Etiam non wisi. Sed accumsan dolor ac augue. Pellentesque eget lectus. Aliquam nec dolor nec tellus ornare venenatis.</p>
        <a class="call2acc">En savoir plus</a>
      </article>
      <article>
        <img src="{{ asset('assets/images/mock-prizes.jpg') }}"/>
      </article>
    </section>
    <section id="rules">
      <h3 class="dividTitle"><span>Modalité jeu concours</span></h3>
      <article>
        <p>Principe simple upload photo like blah blah blah</p>
        <p>Duis dignissim felis et urna. Integer adipiscing congue metus. Nam pede. Etiam non wisi. Sed accumsan dolor ac augue. Pellentesque eget lectus. Aliquam nec dolor nec tellus ornare venenatis.</p>

      </article>
      <a class="call2acc" href="/app_dev.php/contest/choose">Participer au concours</a>
    </section>
    <section id="gallery">
          <h3 class="dividTitle"><span>Participations les plus populaires</span></h3>
          <div id="bestRatedCarousel" class="owl-carousel">
            <!-- most popular -->
            <div>
              <div class="info">
                <div class="container">
                  <h3>Phyllis Brown</h3>
                  <p>Proin wisi libero, vestibulum eget, pulvinar...</p>
                  <button>J’aime</button>
                  <button>Partager</button>
                </div>
              </div>
              <img src="http://placehold.it/365x172" alt="#">
            </div>
            <!-- #2 popular -->
            <div>
              <div class="info">
                <div class="container">
                  <h3>Phyllis Brown</h3>
                  <p>Proin wisi libero, vestibulum eget, pulvinar...</p>
                  <button>J’aime</button>
                  <button>Partager</button>
                </div>
              </div>
              <img src="http://placehold.it/365x172" alt="#">
            </div>
            <!-- #3 popular -->
            <div>
              <div class="info">
                <div class="container">
                  <h3>Phyllis Brown</h3>
                  <p>Proin wisi libero, vestibulum eget, pulvinar...</p>
                  <button>J’aime</button>
                  <button>Partager</button>
                </div>
              </div>
              <img src="http://placehold.it/365x172" alt="#">
            </div>

        </div>
    </section>
  </main>
{% endblock %}

