{% extends 'base.html.twig' %}

{% block title %}Concours Photos{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/main.css') }}">
{% endblock %}
{% block body %}
    <div id="galleryPage">

        {% for photo in photos %}
        <article>
            <div>
                <h2>{{ photo.user.firstName }} {{ photo.user.lastName }}</h2>
                <button class="call2acc"> <a href="{{ path('app_frontoffice_contest_vote', {'picture': photo.id}) }}">J'aime</a></button>
                <button class="call2acc">Partager</button>
            </div>
            <img src="{{ photo.representation }}" alt="{{ photo.user.firstName }} {{ photo.user.lastName }}">
        </article>
        {% endfor %}
    </div>
{% endblock %}

